<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreamwalker.knu2018.dteacher">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Activity.StartKenBurnsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 회원가입 액티비티 -->
        <activity android:name=".SignUpActivity.SignUpActivity1" />
        <activity android:name=".SignUpActivity.SignUpActivity2" />
        <activity android:name=".SignUpActivity.SignUpActivity3" />
        <activity android:name=".SignUpActivity.SignUpActivity6" />
        <activity android:name=".SignUpActivity.SignUpActivity0" />
        <activity android:name=".SignUpActivity.SignUpActivity4" />
        <activity android:name=".SignUpActivity.SignUpActivity5" />
        <activity android:name=".SignUpActivity.SignUpDoneActivity" />
        <activity android:name=".Activity.DangActivity" />
        <activity android:name=".Activity.WorkoutActivity" />
        <activity
            android:name=".Activity.DiaryActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.MaterialSheetFab" />
        <activity
            android:name=".Activity.SettingActivity"
            android:parentActivityName=".Activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.AboutDeveloperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.AboutVersionInfoActivity"
            android:parentActivityName=".Activity.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingActivity" />
        </activity>
        <activity
            android:name=".Activity.AboutOSLActivity"
            android:parentActivityName=".Activity.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingActivity" />
        </activity>
        <activity
            android:name=".Activity.AboutContactActivity"
            android:parentActivityName=".Activity.SettingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.SettingActivity" />
        </activity>
        <activity android:name=".Activity.AboutUserActivity" />
        <activity android:name=".Activity.SyncWearableActivity" />
        <activity android:name=".Activity.SyncBSMActivity" />
        <activity android:name=".Activity.SyncFEActivity" />
        <activity
            android:name=".Activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.WriteBSActivity" />
        <activity android:name=".Activity.WriteFitnessActivity" />
        <activity
            android:name=".Activity.WriteDrugActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.WriteDrugUnitActivity" />
        <activity android:name=".Activity.SignUpCheckActivity" />
        <activity
            android:name=".Activity.AboutUserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WearableSync.SyncWearableDataActivity" />
        <activity android:name=".WearableSync.SyncWearableResultActivity" />
        <activity
            android:name=".WearableSync.WearableRealTimeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BSMSync.SyncBSMDataActivity" />
        <activity android:name=".Activity.GraphAnalysisActivity" />

        <service
            android:name=".WearableSync.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".Activity.DetailListActivity" />
        <activity android:name=".Activity.FilePickedActivity"></activity>
    </application>

</manifest>